name: Prettier

# This action works with pull requests and pushes
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Check code style
        uses: creyD/prettier_action@v4.2
        with:
          dry: true
          prettier_options: --check style.user.css
