name: Prettier

on:
  pull_request:
  push:

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Check code style
        uses: creyD/prettier_action@master
        with:
          dry: true
          prettier_options: --check style.user.css
